name: Tenable Scans
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  overviewscan:
    environment: Tenable
    name: was-cicd
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v2
      - name: Build + Run JuiceShop
        run: |
          docker build . --file Dockerfile --tag boosef-juiceshop:latest
          docker run -d --name boosef-juiceshop 
      - name: Run WAS
        run: |
          docker pull tenable/was-scanner:latest
          docker run -v $(pwd):/scanner -t -e WAS_MODE=cicd -e ACCESS_KEY=${ACCESS_KEY} -e SECRET_KEY=${SECRET_KEY} --link petstore tenable/was-scanner:latest || true
          ls $(pwd)
        env:
          ACCESS_KEY: ${{ secrets.TENABLE_ACCESS_KEY }}
          SECRET_KEY: ${{ secrets.TENABLE_SECRET_KEY }}
